$font-stack:    Helvetica, sans-serif;
$primary-color: #333;

body {
  font: 100% $font-stack;
  color: $primary-color;
}

@media all and (min-width: 600px) {
  .gallery-list__form {
    display: flex;
  }
  .gallery-list__form-item {
    margin: 10px;
    flex-grow: 1;
  }
  .gallery-list__form-item--search {
    flex-grow: 2;
  }
}

.gallery-detail-grid__item {
  float:left;
  width: 100px;
  height: 100px;
  overflow: hidden;
  margin: 10px;
  position: relative;
}

.gallery-detail-grid__link {
}

.gallery-detail-grid__image {
  position: absolute;
  margin: auto;
  min-height: 100%;
  min-width: 100%;
  left: -100%;
  right: -100%;
  top: -100%;
  bottom: -100%;
}
.sidebar-list {
  margin: 0px;
  padding: 0px;
  a {
    text-decoration: none;
  }
}
.sidebar-list__item {
  list-style: none;
  padding: 20px;
}
